.bannerPagina {
  height: 500px;
  object-fit: cover;
}
.colorFondo{
  background-color: #F8F8F8;
}

@media all and (max-width: 767px) {
  .bannerPagina {
    height: 250px;
    object-fit: cover;
  }
}
