.bannerPagina {
  height: 500px;
  object-fit: cover;
}
.colorFondo{
  background-color: #E9EAEC 
  ;
}
.colorAzul{
  color: blue;
}

.posicion{
  position: sticky;
  top: 0%;
  z-index: 2;
}
.lista{
  list-style: none;
}



@media all and (max-width: 767px) {
  .bannerPagina {
    height: 250px;
    object-fit: cover;
  }
}
