.bannerPagina {
  height: 500px;
  object-fit: cover;
}
.colorFondo{
  background-color: #E9EAEC 
  ;
}
/* ---------------------------- */
/* revisar */
.posicion{
  position: sticky;
  top: 0%;
  z-index: 2;
}
/* ------------------------ */


@media all and (max-width: 767px) {
  .bannerPagina {
    height: 250px;
    object-fit: cover;
  }
}
